/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: #7c7c7c;
}

iframe{
  width: 100%;
  height: 100%;
  position: fixed;
  border: none;
  margin: 0; 
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

} */